body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f5f5f5;
    margin:20px;
}

.container{
    text-align:center;
}

img{
    width:500px;
    height:300px;
    border-radius:10px;
}

.office{
    width:400px;
    margin:20px auto;
    padding:15px;
    border:1px solid black;
    border-radius:10px;
    background:white;
}

.red{
    color:red;
    font-weight:bold;
}

.green{
    color:green;
    font-weight:bold;
}